html {
    background-color: #ffe6f2;
}

body {
    color: #4a004a;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ff66b2;  /* bright pink */
    color: #ffffff;  /* strong contrast */
}

footer {
    background-color: #ff66b2;
    color: #ffffff;
}